*{
margin: 0;
padding: 0;
}
body{
border-style: solid;
border-color: #080808;
}
h1{
text-align: center;
padding: 20px;
}
img{
width: 200px;
height: auto;
border-radius: 10px;
box-shadow: 0 0 20px #333;
position: relative;
top: 0px;
margin: auto;
padding: 3px;
display: block;
}
.DATOS,h2{
background-color:rgb(21, 80, 243);
padding: 2Opx;
width: 80%;
text-align: center;

margin-left: auto;
margin-right: auto;
}
table{
border-collapse: collapse ;
box-shadow: 0 0 15px rgb(56, 7, 231);
margin-left: auto;
margin-right: auto;
width: 80%;
}
th{
background-color: rgb(11, 66, 218);
text-align: center;
}
td{
border: 1px solid #333;
text-align: center;

}
.INFO,ul,li,strong {
color: black;
margin-left: auto;
margin-right: auto;
text-align: center;
position: relative;
list-style: none;
}
strong{
text-align: left;

}
h3{
text-align: center;
}
.LAB,p{
text-align: center;

}
p{
text-align: center;
}